@import "tailwindcss";

@font-face {
  font-family: 'MTRY';
  src: url('/fonts/MTRY-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #fafafa;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-playfair: var(--font-playfair), serif;
  --font-rethink: var(--font-rethink), system-ui, sans-serif;
  --font-montreal: "Neue Montreal", system-ui, sans-serif;
  --font-mtry: 'MTRY', serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0C0C0C;
    --foreground: #fafafa;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Neue Montreal', Arial, Helvetica, sans-serif;
}
